<!DOCTYPE html>
html
  head
    link(rel="stylesheet" href='./public/css/global.css')
    link(rel="stylesheet" href='./css/two.css')
    body
      h3(class='typo') jade
      hr
      div(class='type')
        table
          th 实时颜色
      
      script(src='./public/js/adapterScreen.js')
      script(src='./public/js/underscore.min.js')
      script(src='./public/js/jquery.min.js')
      script(src='./js/two.js')
