extends ./public/jade/base.jade

block append baseHead
  link(rel="stylesheet", href="./css/index.css")

block append baseBody
  h1 我是主页
  a(href="./two.html") 跳two
block append baseJS
  script(src='./js/index.js')
  
